<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>

    {% if request.user.is_authenticated %}
        <p>Hello, {{request.user.username}} | <a href="{% url 'logout' %}">Logout</a> </p>
    {% else %}
        <p> <a href="{% url 'register' %}">Register</a> | <a href="#">Login</a> </p>
    {% endif %}
</head>
<hr>
<body>

    {% block content %}

    {% endblock content %}
</body>
<hr>
<footer>
    <h3>This is the footer</h3>
</footer>
</html>
